# 2024 week 3: Performance Against Targets

https://preppindata.blogspot.com/2024/01/2024-week-3-performance-against-targets.html

## Solution

In [1]:
import pandas as pd

pd.options.mode.copy_on_write = True

In [2]:
flow_card_yes = pd.read_csv(
    "data/input_flow_card_yes.csv", parse_dates=["Date"], date_format="%d/%m/%Y"
)
flow_card_yes.head()

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-07-22,PA010,Tokyo,New York,Economy,2380.0,Yes,0,Egg Free
1,2024-04-20,PA002,New York,London,Economy,3490.0,Yes,1,Vegan
2,2024-01-23,PA010,Tokyo,New York,Premium Economy,825.0,Yes,1,Vegetarian
3,2024-06-05,PA006,Tokyo,London,First Class,618.0,Yes,3,Vegan
4,2024-03-30,PA004,Perth,London,First Class,446.0,Yes,1,Nut Free

In [3]:
flow_card_no = pd.read_csv(
    "data/input_flow_card_no.csv", parse_dates=["Date"], date_format="%d/%m/%Y"
)
flow_card_no.head()

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-09-28,PA008,Perth,New York,Economy,1855.0,No,2,Vegetarian
1,2024-10-01,PA008,Perth,New York,Business Class,634.8,No,0,Vegetarian
2,2024-03-04,PA007,New York,Perth,Business Class,458.4,No,3,Nut Free
3,2024-02-25,PA010,Tokyo,New York,Premium Economy,1435.0,No,0,NaN
4,2024-03-29,PA004,Perth,London,Economy,2730.0,No,2,Vegan

In [4]:
# Import all sheets from sales target data
target = pd.read_excel("data/input_sales_target.xlsx", sheet_name=None)
target

{'Q1':     Month Class  Target
 0       1    FC  120000
 1       2    FC  130000
 2       3    FC  140000
 3       1    BC   85000
 4       2    BC   86000
 5       3    BC   87000
 6       1    PE   40000
 7       2    PE   40500
 8       3    PE   41000
 9       1     E   31000
 10      2     E   31500
 11      3     E   32000,
 'Q2':     Month Class  Target
 0       4    FC  160000
 1       5    FC  170000
 2       6    FC  180000
 3       4    BC   88000
 4       5    BC   89000
 5       6    BC   90000
 6       4    PE   42500
 7       5    PE   43000
 8       6    PE   43500
 9       4     E   34000
 10      5     E   34500
 11      6     E   35000,
 'Q3':     Month Class  Target
 0       7    FC  190000
 1       8    FC  200000
 2       9    FC  210000
 3       7    BC   92000
 4       8    BC   93000
 5       9    BC   95000
 6       7    PE   46000
 7       8    PE   46500
 8       9    PE   47000
 9       7     E   37000
 10      8     E   37500
 11      9     E   38000,
 'Q4':     Month Class  Target
 0      10    FC  220000
 1      11    FC  230000
 2      12    FC  240000
 3      10    BC   98000
 4      11    BC   99000
 5      12    BC  100000
 6      10    PE   48000
 7      11    PE   48500
 8      12    PE   49000
 9      10     E   39000
 10     11     E   39500
 11     12     E   40000}

In [5]:
# Union all sales target data
target = pd.concat(target.values())
target

    Month Class  Target
0       1    FC  120000
1       2    FC  130000
2       3    FC  140000
3       1    BC   85000
4       2    BC   86000
5       3    BC   87000
6       1    PE   40000
7       2    PE   40500
8       3    PE   41000
9       1     E   31000
10      2     E   31500
11      3     E   32000
0       4    FC  160000
1       5    FC  170000
2       6    FC  180000
3       4    BC   88000
4       5    BC   89000
5       6    BC   90000
6       4    PE   42500
7       5    PE   43000
8       6    PE   43500
9       4     E   34000
10      5     E   34500
11      6     E   35000
0       7    FC  190000
1       8    FC  200000
2       9    FC  210000
3       7    BC   92000
4       8    BC   93000
5       9    BC   95000
6       7    PE   46000
7       8    PE   46500
8       9    PE   47000
9       7     E   37000
10      8     E   37500
11      9     E   38000
0      10    FC  220000
1      11    FC  230000
2      12    FC  240000
3      10    BC   98000
4      11    BC   99000
5      12    BC  100000
6      10    PE   48000
7      11    PE   48500
8      12    PE   49000
9      10     E   39000
10     11     E   39500
11     12     E   40000

In [6]:
# Union the two datasets for sales
sales = pd.concat((flow_card_yes, flow_card_no))
sales

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-07-22,PA010,Tokyo,New York,Economy,2380.0,Yes,0,Egg Free
1,2024-04-20,PA002,New York,London,Economy,3490.0,Yes,1,Vegan
2,2024-01-23,PA010,Tokyo,New York,Premium Economy,825.0,Yes,1,Vegetarian
3,2024-06-05,PA006,Tokyo,London,First Class,618.0,Yes,3,Vegan
4,2024-03-30,PA004,Perth,London,First Class,446.0,Yes,1,Nut Free
...,...,...,...,...,...,...,...,...,...
1890,2024-03-06,PA006,Tokyo,London,Premium Economy,940.0,No,2,Vegetarian
1891,2024-05-05,PA009,New York,Tokyo,Economy,1360.0,No,3,Nut Free
1892,2024-06-14,PA008,Perth,New York,First Class,245.0,No,1,Dairy Free
1893,2024-01-16,PA010,Tokyo,New York,Economy,2410.0,No,2,Egg Free
1894,2024-08-16,PA005,London,Tokyo,Premium Economy,960.0,No,0,Nut Free

In [7]:
# Fix incorrect `Class` names
sales = sales.replace(
    {
        "Class": {
            "Economy": "First Class",
            "First Class": "Economy",
            # "Business Class": "Premium Economy",
            # "Premium Economy": "Business Class",
        }
    }
)
sales

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-07-22,PA010,Tokyo,New York,First Class,2380.0,Yes,0,Egg Free
1,2024-04-20,PA002,New York,London,First Class,3490.0,Yes,1,Vegan
2,2024-01-23,PA010,Tokyo,New York,Premium Economy,825.0,Yes,1,Vegetarian
3,2024-06-05,PA006,Tokyo,London,Economy,618.0,Yes,3,Vegan
4,2024-03-30,PA004,Perth,London,Economy,446.0,Yes,1,Nut Free
...,...,...,...,...,...,...,...,...,...
1890,2024-03-06,PA006,Tokyo,London,Premium Economy,940.0,No,2,Vegetarian
1891,2024-05-05,PA009,New York,Tokyo,First Class,1360.0,No,3,Nut Free
1892,2024-06-14,PA008,Perth,New York,Economy,245.0,No,1,Dairy Free
1893,2024-01-16,PA010,Tokyo,New York,First Class,2410.0,No,2,Egg Free
1894,2024-08-16,PA005,London,Tokyo,Premium Economy,960.0,No,0,Nut Free

In [8]:
def initials(words):
    return "".join(word[0] for word in words.split())


# Convert `Class` to initials
sales["Class"] = sales["Class"].apply(initials)
sales

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-07-22,PA010,Tokyo,New York,FC,2380.0,Yes,0,Egg Free
1,2024-04-20,PA002,New York,London,FC,3490.0,Yes,1,Vegan
2,2024-01-23,PA010,Tokyo,New York,PE,825.0,Yes,1,Vegetarian
3,2024-06-05,PA006,Tokyo,London,E,618.0,Yes,3,Vegan
4,2024-03-30,PA004,Perth,London,E,446.0,Yes,1,Nut Free
...,...,...,...,...,...,...,...,...,...
1890,2024-03-06,PA006,Tokyo,London,PE,940.0,No,2,Vegetarian
1891,2024-05-05,PA009,New York,Tokyo,FC,1360.0,No,3,Nut Free
1892,2024-06-14,PA008,Perth,New York,E,245.0,No,1,Dairy Free
1893,2024-01-16,PA010,Tokyo,New York,FC,2410.0,No,2,Egg Free
1894,2024-08-16,PA005,London,Tokyo,PE,960.0,No,0,Nut Free

In [9]:
# Convert `Date` to the corresponding month number
sales["Date"] = sales["Date"].dt.month
sales

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,7,PA010,Tokyo,New York,FC,2380.0,Yes,0,Egg Free
1,4,PA002,New York,London,FC,3490.0,Yes,1,Vegan
2,1,PA010,Tokyo,New York,PE,825.0,Yes,1,Vegetarian
3,6,PA006,Tokyo,London,E,618.0,Yes,3,Vegan
4,3,PA004,Perth,London,E,446.0,Yes,1,Nut Free
...,...,...,...,...,...,...,...,...,...
1890,3,PA006,Tokyo,London,PE,940.0,No,2,Vegetarian
1891,5,PA009,New York,Tokyo,FC,1360.0,No,3,Nut Free
1892,6,PA008,Perth,New York,E,245.0,No,1,Dairy Free
1893,1,PA010,Tokyo,New York,FC,2410.0,No,2,Egg Free
1894,8,PA005,London,Tokyo,PE,960.0,No,0,Nut Free

In [10]:
# Aggregate sales by `Date` and `Class`
sales = sales.groupby(["Date", "Class"], as_index=False)["Price"].agg("sum")
sales

    Date Class     Price
0      1    BC   48555.6
1      1     E   36081.0
2      1    FC  193960.0
3      1    PE   67297.5
4      2    BC   46335.6
5      2     E   30968.0
6      2    FC  145665.0
7      2    PE   69222.5
8      3    BC   47875.2
9      3     E   31829.0
10     3    FC  152315.0
11     3    PE   84357.5
12     4    BC   38233.2
13     4     E   31333.0
14     4    FC  224415.0
15     4    PE   81522.5
16     5    BC   43833.6
17     5     E   42898.0
18     5    FC  171610.0
19     5    PE   85065.0
20     6    BC   46538.4
21     6     E   31440.0
22     6    FC  149725.0
23     6    PE   85735.0
24     7    BC   40258.8
25     7     E   38941.0
26     7    FC  172425.0
27     7    PE   97490.0
28     8    BC   41468.4
29     8     E   32820.0
30     8    FC  209625.0
31     8    PE  106852.5
32     9    BC   42054.0
33     9     E   27724.0
34     9    FC  200960.0
35     9    PE   87590.0
36    10    BC   43689.6
37    10     E   32500.0
38    10    FC  186185.0
39    10    PE   94135.0
40    11    BC   39372.0
41    11     E   34023.0
42    11    FC  154595.0
43    11    PE   85970.0
44    12    BC   45348.0
45    12     E   43588.0
46    12    FC  188015.0
47    12    PE  100485.0

In [11]:
# Join sales and target data
df = sales.join(target.set_index(["Month", "Class"]), on=["Date", "Class"])
df

    Date Class     Price  Target
0      1    BC   48555.6   85000
1      1     E   36081.0   31000
2      1    FC  193960.0  120000
3      1    PE   67297.5   40000
4      2    BC   46335.6   86000
5      2     E   30968.0   31500
6      2    FC  145665.0  130000
7      2    PE   69222.5   40500
8      3    BC   47875.2   87000
9      3     E   31829.0   32000
10     3    FC  152315.0  140000
11     3    PE   84357.5   41000
12     4    BC   38233.2   88000
13     4     E   31333.0   34000
14     4    FC  224415.0  160000
15     4    PE   81522.5   42500
16     5    BC   43833.6   89000
17     5     E   42898.0   34500
18     5    FC  171610.0  170000
19     5    PE   85065.0   43000
20     6    BC   46538.4   90000
21     6     E   31440.0   35000
22     6    FC  149725.0  180000
23     6    PE   85735.0   43500
24     7    BC   40258.8   92000
25     7     E   38941.0   37000
26     7    FC  172425.0  190000
27     7    PE   97490.0   46000
28     8    BC   41468.4   93000
29     8     E   32820.0   37500
30     8    FC  209625.0  200000
31     8    PE  106852.5   46500
32     9    BC   42054.0   95000
33     9     E   27724.0   38000
34     9    FC  200960.0  210000
35     9    PE   87590.0   47000
36    10    BC   43689.6   98000
37    10     E   32500.0   39000
38    10    FC  186185.0  220000
39    10    PE   94135.0   48000
40    11    BC   39372.0   99000
41    11     E   34023.0   39500
42    11    FC  154595.0  230000
43    11    PE   85970.0   48500
44    12    BC   45348.0  100000
45    12     E   43588.0   40000
46    12    FC  188015.0  240000
47    12    PE  100485.0   49000

In [12]:
# Calculate difference between sales and target
df["Difference to Target"] = df["Price"] - df["Target"]

# Reorder columns
sort_columns = ["Difference to Target", "Date", "Price", "Class", "Target"]
df = df[sort_columns].sort_values(
    sort_columns,
    ignore_index=True,
)
df

    Difference to Target  Date     Price Class  Target
0               -75405.0    11  154595.0    FC  230000
1               -59628.0    11   39372.0    BC   99000
2               -54652.0    12   45348.0    BC  100000
3               -54310.4    10   43689.6    BC   98000
4               -52946.0     9   42054.0    BC   95000
5               -51985.0    12  188015.0    FC  240000
6               -51741.2     7   40258.8    BC   92000
7               -51531.6     8   41468.4    BC   93000
8               -49766.8     4   38233.2    BC   88000
9               -45166.4     5   43833.6    BC   89000
10              -43461.6     6   46538.4    BC   90000
11              -39664.4     2   46335.6    BC   86000
12              -39124.8     3   47875.2    BC   87000
13              -36444.4     1   48555.6    BC   85000
14              -33815.0    10  186185.0    FC  220000
15              -30275.0     6  149725.0    FC  180000
16              -17575.0     7  172425.0    FC  190000
17              -10276.0     9   27724.0     E   38000
18               -9040.0     9  200960.0    FC  210000
19               -6500.0    10   32500.0     E   39000
20               -5477.0    11   34023.0     E   39500
21               -4680.0     8   32820.0     E   37500
22               -3560.0     6   31440.0     E   35000
23               -2667.0     4   31333.0     E   34000
24                -532.0     2   30968.0     E   31500
25                -171.0     3   31829.0     E   32000
26                1610.0     5  171610.0    FC  170000
27                1941.0     7   38941.0     E   37000
28                3588.0    12   43588.0     E   40000
29                5081.0     1   36081.0     E   31000
30                8398.0     5   42898.0     E   34500
31                9625.0     8  209625.0    FC  200000
32               12315.0     3  152315.0    FC  140000
33               15665.0     2  145665.0    FC  130000
34               27297.5     1   67297.5    PE   40000
35               28722.5     2   69222.5    PE   40500
36               37470.0    11   85970.0    PE   48500
37               39022.5     4   81522.5    PE   42500
38               40590.0     9   87590.0    PE   47000
39               42065.0     5   85065.0    PE   43000
40               42235.0     6   85735.0    PE   43500
41               43357.5     3   84357.5    PE   41000
42               46135.0    10   94135.0    PE   48000
43               51485.0    12  100485.0    PE   49000
44               51490.0     7   97490.0    PE   46000
45               60352.5     8  106852.5    PE   46500
46               64415.0     4  224415.0    FC  160000
47               73960.0     1  193960.0    FC  120000

## Testing

In [13]:
import pandas.testing as pdt

In [14]:
expected_output = pd.read_csv("data/output.csv").sort_values(
    sort_columns,
    ignore_index=True,
)

In [15]:
pdt.assert_frame_equal(expected_output, df, check_dtype=False)